<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <settings>
      <setting name="XmCloud.PublishingApi.Url" value="$(env:Testing_PublishingApi_Url)"/>
      <setting name="XmCloud.PublishingApi.Enabled" value="$(env:Testing_PublishingApi_Enabled)"/>
    </settings>
  </sitecore>
</configuration>
